@model IEnumerable<MusicSite.WEB.Models.SongViewModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Music Site</h2>
<div id="song">
    @Html.Partial("MySongList")
</div>

